In [5]:
%pip install h2o sklearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: h2o in ./.local/lib/python3.8/site-packages (3.36.1.1)
Processing ./.cache/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897/sklearn-0.0-py2.py3-none-any.whl
Requirement already satisfied: tabulate in ./.local/lib/python3.8/site-packages (from h2o) (0.8.9)
Requirement already satisfied: requests in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from h2o) (2.24.0)
Requirement already satisfied: future in ./.local/lib/python3.8/site-packages (from h2o) (0.18.2)
Collecting scikit-learn
  Using cached scikit_learn-1.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.7 MB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from requests->h2o) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from requests->h2o) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from requests->h2o) (2020.6.20)
Requirement already satisfied: numpy>=1.14.6 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages/numpy-1.19.2-py3.8-linux-x86_64.egg (from scikit-learn->sklearn) (1.19.2)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.1.0 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages/scipy-1.5.2-py3.8-linux-x86_64.egg (from scikit-learn->sklearn) (1.5.2)
Collecting joblib>=0.11
  Using cached joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 sklearn-0.0 threadpoolctl-3.1.0
WARNING: You are using pip version 20.2.3; however, version 22.0.4 is available.
You should consider upgrading via the '/share/apps/python/3.8.6/intel/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import h2o
from h2o.automl import H2OAutoML
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
import sklearn

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_312-debug"; OpenJDK Runtime Environment (build 1.8.0_312-debug-b07); OpenJDK 64-Bit Server VM (build 25.312-b07-debug, mixed mode)
  Starting server from /home/mk7516/.local/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /state/partition1/job-19560604/tmp8jtwiagi
  JVM stdout: /state/partition1/job-19560604/tmp8jtwiagi/h2o_mk7516_started_from_python.out
  JVM stderr: /state/partition1/job-19560604/tmp8jtwiagi/h2o_mk7516_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------
H2O_cluster_uptime:         06 secs
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    1 month
H2O_cluster_name:           H2O_from_python_mk7516_fi865h
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    7.093 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.6 final
--------------------------  -----------------------------

In [3]:
import pandas as pd
def dataSetup(name):
  X,y = sklearn.datasets.fetch_openml(data_id=name, as_frame=True, return_X_y=True)
  train = pd.concat([X, y], axis=1, join='inner')
  train.dropna()
  train = train.apply(lambda x: pd.factorize(x)[0])
  X,y = train.iloc[:,:-1], train.iloc[:, -1]
  # X = X.apply(lambda x: pd.factorize(x)[0])
  X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,random_state=42)
  y_train = y_train.to_frame(name="class")
  y_test = y_test.to_frame(name="class")
  test = pd.concat([X_test, y_test], axis=1, join='inner')
  train = pd.concat([X_train, y_train], axis=1, join='inner')
  test = h2o.H2OFrame(test)
  train = h2o.H2OFrame(train)
  return (test, train)

In [4]:
test, train = dataSetup(223)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [5]:
train.shape

(712, 10)

In [6]:
x = train.columns
y = "class"
x.remove(y)

In [7]:
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

In [8]:
aml = H2OAutoML(max_runtime_secs = 3600)
aml.train(x=x, y=y, training_frame=train)
# train = h2o.H2OFrame(train)

AutoML progress: |██████████
03:47:31.30: GLM_1_AutoML_1_20220514_33907 [GLM def_1] failed: java.lang.ArrayIndexOutOfBoundsException: 9

█████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  XRT_1_AutoML_1_20220514_33907


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,9950.0,1527442.0,1.0,13.0,4.758894,2.0,27.0,7.463618

ModelMetricsMultinomial: drf
** Reported on train data. **

MSE: 0.9142860709765741
RMSE: 0.9561830739856119
LogLoss: 8.027672290288068
Mean Per-Class Error: 0.9451982132886655
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,0,1,2,3,4,6,7,8,9,10,...,195,196,197,198,199,200,201,202,Error,Rate
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4 / 4
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
6,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4 / 4
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.750000,3 / 4
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.600000,3 / 5
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4 / 4
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.555556,5 / 9
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,7 / 7
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,7 / 7
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2

See the whole table with table.as_data_frame()

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.074438
1   2   0.143258
2   3   0.185393
3   4   0.234551
4   5   0.251404
5   6   0.289326
6   7   0.314607
7   8   0.355337
8   9   0.373595
9  10   0.403090

ModelMetricsMultinomial: drf
** Reported on cross-validation data. **

MSE: 0.945554277372273
RMSE: 0.9723961524873868
LogLoss: 9.706779407497622
Mean Per-Class Error: 0.9643614899896307
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,0,1,2,3,4,6,7,8,9,10,...,195,196,197,198,199,200,201,202,Error,Rate
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4 / 4
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4 / 4
8,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1 / 1
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4 / 4
11,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,5 / 5
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4 / 4
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.777778,7 / 9
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,7 / 7
18,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,7 / 7
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2

See the whole table with table.as_data_frame()

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.050562
1   2   0.080056
2   3   0.113764
3   4   0.134831
4   5   0.161517
5   6   0.183989
6   7   0.210674
7   8   0.226124
8   9   0.250000
9  10   0.266854

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.050576,0.018251,0.055944,0.034965,0.070423,0.063380,0.028169
1,auc,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
2,err,0.949424,0.018251,0.944056,0.965035,0.929577,0.936620,0.971831
3,err_count,135.200000,2.774887,135.000000,138.000000,132.000000,133.000000,138.000000
4,logloss,9.705439,0.872556,9.959799,10.406043,8.748470,8.819287,10.593592
5,max_per_class_error,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
6,mean_per_class_accuracy,0.525963,0.024430,0.498325,0.538945,0.561139,0.517588,0.513819
7,mean_per_class_error,0.474037,0.024430,0.501675,0.461055,0.438861,0.482412,0.486181
8,mse,0.945549,0.010320,0.941961,0.952740,0.930303,0.945839,0.956904
9,pr_auc,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
10,r2,0.999678,0.000036,0.999716,0.999717,0.999659,0.999637,0.999661
11,rmse,0.972382,0.005313,0.970547,0.976084,0.964522,0.972542,0.978214

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error,training_auc,training_pr_auc
0,,2022-05-14 04:08:06,24.312 sec,0.0,NaN,NaN,NaN,NaN,NaN
1,,2022-05-14 04:08:07,24.584 sec,5.0,0.964318,21.801947,0.939908,NaN,NaN
2,,2022-05-14 04:08:07,24.850 sec,10.0,0.961017,16.865705,0.928571,NaN,NaN
3,,2022-05-14 04:08:08,25.783 sec,15.0,0.958090,14.587074,0.925457,NaN,NaN
4,,2022-05-14 04:08:08,26.035 sec,20.0,0.958344,12.747243,0.933989,NaN,NaN
5,,2022-05-14 04:08:08,26.303 sec,25.0,0.957023,11.549379,0.929775,NaN,NaN
6,,2022-05-14 04:08:09,27.242 sec,30.0,0.957427,10.535112,0.929775,NaN,NaN
7,,2022-05-14 04:08:10,27.496 sec,35.0,0.955888,9.490823,0.917135,NaN,NaN
8,,2022-05-14 04:08:10,27.760 sec,40.0,0.956289,8.829601,0.919944,NaN,NaN
9,,2022-05-14 04:08:11,28.718 sec,45.0,0.956716,8.485558,0.924157,NaN,NaN
10,,2022-05-14 04:08:11,28.964 sec,50.0,0.956183,8.027672,0.925562,NaN,NaN

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0  company1          3167.658447           1.000000    0.145381
1  company2          2523.543945           0.796659    0.115819
2  company9          2434.413574           0.768521    0.111728
3  company4          2421.995361           0.764601    0.111158
4  company7          2373.477295           0.749284    0.108932
5  company5          2311.185791           0.729620    0.106073
6  company8          2277.465820           0.718975    0.104525
7  company3          2183.381836           0.689273    0.100207
8  company6          2095.552002           0.661546    0.096176

In [9]:
lb = aml.leaderboard
lb.head(rows=lb.nrows)

model_id,mean_per_class_error,logloss,rmse,mse
XRT_1_AutoML_1_20220514_33907,0.964361,9.70678,0.972396,0.945554
DRF_1_AutoML_1_20220514_33907,0.968555,9.96311,0.973124,0.946971
GBM_grid_1_AutoML_1_20220514_33907_model_8,0.968946,5.61213,0.978418,0.957303
GBM_grid_1_AutoML_1_20220514_33907_model_1,0.972248,5.55617,0.974657,0.949956
GBM_grid_1_AutoML_1_20220514_33907_model_6,0.9742,5.07541,0.980188,0.960768
GBM_2_AutoML_1_20220514_33907,0.976597,20.5252,0.981629,0.963595
GBM_grid_1_AutoML_1_20220514_33907_model_7,0.977006,4.97623,0.979091,0.958619
GBM_grid_1_AutoML_1_20220514_33907_model_5,0.977411,5.17293,0.980211,0.960814
GBM_grid_1_AutoML_1_20220514_33907_model_9,0.977584,4.98982,0.983105,0.966496
GBM_grid_1_AutoML_1_20220514_33907_model_12,0.97762,20.4833,0.981508,0.963359
GBM_grid_1_AutoML_1_20220514_33907_model_16,0.978073,5.23366,0.978206,0.956887
GBM_4_AutoML_1_20220514_33907,0.980133,33.1873,0.984568,0.969374
GBM_grid_1_AutoML_1_20220514_33907_model_13,0.980432,5.42888,0.979309,0.959046
GBM_grid_1_AutoML_1_20220514_33907_model_2,0.980683,15.6851,0.981556,0.963452
GBM_1_AutoML_1_20220514_33907,0.980769,4.97493,0.984468,0.969177
GBM_grid_1_AutoML_1_20220514_33907_model_14,0.981251,4.97617,0.985446,0.971104
GBM_grid_1_AutoML_1_20220514_33907_model_4,0.981507,33.3151,0.985907,0.972012
GBM_grid_1_AutoML_1_20220514_33907_model_20,0.981515,13.5019,0.984187,0.968625
GBM_grid_1_AutoML_1_20220514_33907_model_18,0.981656,33.3415,0.986727,0.973629
GBM_grid_1_AutoML_1_20220514_33907_model_10,0.982448,5.18068,0.980903,0.962172
XGBoost_grid_1_AutoML_1_20220514_33907_model_6,0.983626,5.17772,0.986848,0.973868
GBM_3_AutoML_1_20220514_33907,0.984456,22.765,0.986253,0.972695
GBM_5_AutoML_1_20220514_33907,0.984781,16.0817,0.983725,0.967715
GBM_grid_1_AutoML_1_20220514_33907_model_11,0.985253,33.1038,0.98684,0.973853
GBM_grid_1_AutoML_1_20220514_33907_model_17,0.985309,4.89098,0.98573,0.971664
XGBoost_3_AutoML_1_20220514_33907,0.985979,5.21041,0.989452,0.979015
GBM_grid_1_AutoML_1_20220514_33907_model_3,0.985987,33.001,0.986332,0.972851
DeepLearning_grid_1_AutoML_1_20220514_33907_model_5,0.986811,6.38255,0.983272,0.966825
StackedEnsemble_BestOfFamily_4_AutoML_1_20220514_33907,0.986905,8.72057,0.988345,0.976826
DeepLearning_grid_1_AutoML_1_20220514_33907_model_7,0.98707,5.3468,0.987599,0.975351
GBM_grid_1_AutoML_1_20220514_33907_model_21,0.988697,5.73732,0.98744,0.975037
StackedEnsemble_BestOfFamily_1_AutoML_1_20220514_33907,0.989346,7.41137,0.985809,0.97182
GBM_grid_1_AutoML_1_20220514_33907_model_19,0.990747,5.64422,0.983557,0.967385
DeepLearning_grid_1_AutoML_1_20220514_33907_model_8,0.991254,5.57415,0.986422,0.973028
DeepLearning_grid_1_AutoML_1_20220514_33907_model_2,0.991445,6.14774,0.987894,0.975934
StackedEnsemble_BestOfFamily_3_AutoML_1_20220514_33907,0.991543,6.04114,0.994116,0.988268
XGBoost_grid_1_AutoML_1_20220514_33907_model_2,0.991671,5.22068,0.993158,0.986362
DeepLearning_grid_1_AutoML_1_20220514_33907_model_6,0.991732,6.16327,0.989871,0.979844
DeepLearning_grid_1_AutoML_1_20220514_33907_model_3,0.991754,6.17772,0.989755,0.979615
StackedEnsemble_BestOfFamily_2_AutoML_1_20220514_33907,0.992408,6.29298,0.990662,0.981411
StackedEnsemble_AllModels_2_AutoML_1_20220514_33907,0.992648,5.67345,0.99398,0.987997
StackedEnsemble_AllModels_1_AutoML_1_20220514_33907,0.994596,6.06872,0.993613,0.987267
StackedEnsemble_AllModels_3_AutoML_1_20220514_33907,0.994975,5.11278,0.993067,0.986182
DeepLearning_grid_1_AutoML_1_20220514_33907_model_1,0.996267,5.57066,0.992712,0.985476
XGBoost_grid_1_AutoML_1_20220514_33907_model_3,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_8,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_1,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_5,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_11,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_9,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_12,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_7,0.996985,5.2933,0.994975,0.989975
XGBoost_1_AutoML_1_20220514_33907,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_13,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_10,0.996985,5.2933,0.994975,0.989975
XGBoost_2_AutoML_1_20220514_33907,0.996985,5.2933,0.994975,0.989975
XGBoost_grid_1_AutoML_1_20220514_33907_model_4,0.996985,5.2933,0.994975,0.989975
DeepLearning_grid_1_AutoML_1_20220514_33907_model_4,0.998744,5.61511,0.994928,0.989881
DeepLearning_1_AutoML_1_20220514_33907,0.99878,5.35907,0.9937,0.987439