In [5]:
%pip install h2o sklearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: h2o in ./.local/lib/python3.8/site-packages (3.36.1.1)
Processing ./.cache/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897/sklearn-0.0-py2.py3-none-any.whl
Requirement already satisfied: tabulate in ./.local/lib/python3.8/site-packages (from h2o) (0.8.9)
Requirement already satisfied: requests in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from h2o) (2.24.0)
Requirement already satisfied: future in ./.local/lib/python3.8/site-packages (from h2o) (0.18.2)
Collecting scikit-learn
  Using cached scikit_learn-1.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.7 MB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from requests->h2o) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from requests->h2o) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages (from requests->h2o) (2020.6.20)
Requirement already satisfied: numpy>=1.14.6 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages/numpy-1.19.2-py3.8-linux-x86_64.egg (from scikit-learn->sklearn) (1.19.2)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.1.0 in /share/apps/python/3.8.6/intel/lib/python3.8/site-packages/scipy-1.5.2-py3.8-linux-x86_64.egg (from scikit-learn->sklearn) (1.5.2)
Collecting joblib>=0.11
  Using cached joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 sklearn-0.0 threadpoolctl-3.1.0
WARNING: You are using pip version 20.2.3; however, version 22.0.4 is available.
You should consider upgrading via the '/share/apps/python/3.8.6/intel/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
import h2o
from h2o.automl import H2OAutoML
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
import sklearn

In [7]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_312-debug"; OpenJDK Runtime Environment (build 1.8.0_312-debug-b07); OpenJDK 64-Bit Server VM (build 25.312-b07-debug, mixed mode)
  Starting server from /home/mk7516/.local/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /state/partition1/job-19046308/tmpr3jczzsu
  JVM stdout: /state/partition1/job-19046308/tmpr3jczzsu/h2o_mk7516_started_from_python.out
  JVM stderr: /state/partition1/job-19046308/tmpr3jczzsu/h2o_mk7516_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------
H2O_cluster_uptime:         06 secs
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    20 days
H2O_cluster_name:           H2O_from_python_mk7516_v36emp
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.541 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.6 final
--------------------------  -----------------------------

In [8]:
import pandas as pd
def dataSetup(name):
  X,y = sklearn.datasets.fetch_openml(data_id=name, as_frame=True, return_X_y=True)
  train = pd.concat([X, y], axis=1, join='inner')
  train.dropna()
  train = train.apply(lambda x: pd.factorize(x)[0])
  X,y = train.iloc[:,:-1], train.iloc[:, -1]
  # X = X.apply(lambda x: pd.factorize(x)[0])
  X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,random_state=42)
  y_train = y_train.to_frame(name="class")
  y_test = y_test.to_frame(name="class")
  test = pd.concat([X_test, y_test], axis=1, join='inner')
  train = pd.concat([X_train, y_train], axis=1, join='inner')
  test = h2o.H2OFrame(test)
  train = h2o.H2OFrame(train)
  return (test, train)

In [9]:
test, train = dataSetup(41163)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [10]:
train.shape

(7500, 2001)

In [11]:
x = train.columns
y = "class"
x.remove(y)

In [12]:
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

In [13]:
aml = H2OAutoML(max_runtime_secs = 3600)
aml.train(x=x, y=y, training_frame=train)
# train = h2o.H2OFrame(train)

AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_1_AutoML_1_20220504_131316


Model Summary:

     number_of_trees
0               30.0

ModelMetricsMultinomial: xgboost
** Reported on train data. **

MSE: 0.4731870783543977
RMSE: 0.6878859486531163
LogLoss: 1.1993214787109494
Mean Per-Class Error: 0.3737777892623183
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

        0       1       2       3       4     Error           Rate
0   900.0   122.0   156.0   148.0   158.0  0.393531    584 / 1,484
1   119.0   837.0   160.0   151.0   169.0  0.417131    599 / 1,436
2   124.0    95.0  1023.0   129.0   169.0  0.335714    517 / 1,540
3   131.0    98.0   154.0   906.0   174.0  0.380725    557 / 1,463
4   133.0   104.0   176.0   126.0  1038.0  0.341788    539 / 1,577
5  1407.0  1256.0  1669.0  1460.0  1708.0  0.372800  2,796 / 7,500

Top-5 Hit Ratios:

   k  hit_ratio
0  1   0.627200
1  2   0.822533
2  3   0.924267
3  4   0.976933
4  5   1.000000

ModelMetricsMultinomial: xgboost
** Reported on cross-validation data. **

MSE: 0.6436772998897764
RMSE: 0.8022950204817281
LogLoss: 1.708595921388672
Mean Per-Class Error: 0.7859812340145231
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

        0       1       2       3       4     Error           Rate
0   274.0   268.0   314.0   300.0   328.0  0.815364  1,210 / 1,484
1   284.0   264.0   285.0   271.0   332.0  0.816156  1,172 / 1,436
2   261.0   239.0   385.0   271.0   384.0  0.750000  1,155 / 1,540
3   285.0   272.0   301.0   272.0   333.0  0.814081  1,191 / 1,463
4   287.0   235.0   348.0   288.0   419.0  0.734306  1,158 / 1,577
5  1391.0  1278.0  1633.0  1402.0  1796.0  0.784800  5,886 / 7,500

Top-5 Hit Ratios:

   k  hit_ratio
0  1   0.215200
1  2   0.419733
2  3   0.612667
3  4   0.810400
4  5   1.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.215200,0.009768,0.220667,0.214667,0.223333,0.218667,0.198667
1,auc,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
2,err,0.784800,0.009768,0.779333,0.785333,0.776667,0.781333,0.801333
3,err_count,1177.200000,14.652645,1169.000000,1178.000000,1165.000000,1172.000000,1202.000000
4,logloss,1.708596,0.017065,1.727714,1.688424,1.693735,1.711816,1.721291
5,max_per_class_error,0.826930,0.012576,0.837838,0.834507,0.807692,0.820755,0.833856
6,mean_per_class_accuracy,0.214201,0.009291,0.217801,0.213655,0.222468,0.218529,0.198550
7,mean_per_class_error,0.785799,0.009291,0.782199,0.786345,0.777532,0.781471,0.801450
8,mse,0.643677,0.003307,0.646803,0.639863,0.640807,0.643901,0.647013
9,pr_auc,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
10,r2,0.680683,0.005202,0.679841,0.681863,0.673367,0.680413,0.687933
11,rmse,0.802293,0.002061,0.804241,0.799914,0.800504,0.802435,0.804371

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error,training_auc,training_pr_auc
0,,2022-05-04 13:14:16,59.294 sec,0.0,0.800000,1.609438,0.804933,NaN,NaN
1,,2022-05-04 13:14:18,1 min 1.584 sec,5.0,0.772131,1.493495,0.587733,NaN,NaN
2,,2022-05-04 13:14:20,1 min 3.064 sec,10.0,0.753090,1.421331,0.529467,NaN,NaN
3,,2022-05-04 13:14:21,1 min 4.636 sec,15.0,0.732598,1.349279,0.484800,NaN,NaN
4,,2022-05-04 13:14:23,1 min 6.080 sec,20.0,0.715603,1.290837,0.434400,NaN,NaN
5,,2022-05-04 13:14:24,1 min 7.477 sec,25.0,0.701208,1.243193,0.407733,NaN,NaN
6,,2022-05-04 13:14:26,1 min 8.828 sec,30.0,0.687886,1.199321,0.372800,NaN,NaN

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0     V1620            57.334614           1.000000    0.004188
1     V1674            49.830849           0.869123    0.003640
2      V869            49.098217           0.856345    0.003586
3      V847            48.002899           0.837241    0.003506
4     V1875            46.875565           0.817579    0.003424
5     V1666            46.472942           0.810556    0.003394
6     V1561            45.706623           0.797191    0.003338
7     V1074            43.714771           0.762450    0.003193
8     V1596            43.710049           0.762368    0.003192
9     V1422            41.471508           0.723324    0.003029
10    V1656            40.975761           0.714678    0.002993
11    V1603            40.839447           0.712300    0.002983
12     V850            40.249367           0.702008    0.002940
13    V1678            39.626564           0.691146    0.002894
14    V1658            39.261032           0.684770    0.002868
15    V1391            38.919697           0.678817    0.002843
16    V1598            38.800140           0.676732    0.002834
17    V1605            37.806484           0.659401    0.002761
18     V860            37.033234           0.645914    0.002705
19    V1682            36.778225           0.641466    0.002686

See the whole table with table.as_data_frame()

In [15]:
lb = aml.leaderboard
lb.head(rows=lb.nrows)

model_id,mean_per_class_error,logloss,rmse,mse
XGBoost_1_AutoML_1_20220504_131316,0.785981,1.7086,0.802295,0.643677
StackedEnsemble_AllModels_3_AutoML_1_20220504_131316,0.788652,1.63778,0.799209,0.638735
XGBoost_3_AutoML_1_20220504_131316,0.78883,1.63774,0.800506,0.64081
StackedEnsemble_AllModels_2_AutoML_1_20220504_131316,0.78902,1.62475,0.798894,0.638231
StackedEnsemble_BestOfFamily_3_AutoML_1_20220504_131316,0.790046,1.61748,0.799409,0.639054
StackedEnsemble_AllModels_1_AutoML_1_20220504_131316,0.790056,1.61806,0.79926,0.638816
XGBoost_grid_1_AutoML_1_20220504_131316_model_4,0.790647,1.63071,0.79996,0.639935
GBM_grid_1_AutoML_1_20220504_131316_model_1,0.791395,1.62594,0.800432,0.640691
XGBoost_grid_1_AutoML_1_20220504_131316_model_1,0.791816,1.67391,0.801619,0.642593
GBM_grid_1_AutoML_1_20220504_131316_model_2,0.792031,1.6092,0.799816,0.639706
GBM_4_AutoML_1_20220504_131316,0.792119,1.63142,0.800575,0.64092
XGBoost_grid_1_AutoML_1_20220504_131316_model_3,0.792215,1.68401,0.801565,0.642507
XGBoost_2_AutoML_1_20220504_131316,0.7924,1.68763,0.801754,0.642809
GBM_1_AutoML_1_20220504_131316,0.792918,1.62607,0.799524,0.639239
GBM_2_AutoML_1_20220504_131316,0.793256,1.62257,0.800104,0.640167
GBM_3_AutoML_1_20220504_131316,0.793616,1.62593,0.800403,0.640645
DeepLearning_grid_1_AutoML_1_20220504_131316_model_1,0.79446,1.69567,0.804381,0.647029
XGBoost_grid_1_AutoML_1_20220504_131316_model_2,0.794487,1.63713,0.800102,0.640163
DRF_1_AutoML_1_20220504_131316,0.794768,1.65513,0.801992,0.643192
GBM_5_AutoML_1_20220504_131316,0.794987,1.62117,0.800522,0.640835
GLM_1_AutoML_1_20220504_131316,0.795348,1.60901,0.799768,0.639628
StackedEnsemble_BestOfFamily_1_AutoML_1_20220504_131316,0.795522,1.6117,0.799579,0.639327
StackedEnsemble_BestOfFamily_4_AutoML_1_20220504_131316,0.795615,1.61747,0.79965,0.63944
StackedEnsemble_BestOfFamily_2_AutoML_1_20220504_131316,0.796188,1.61316,0.79941,0.639057
DeepLearning_grid_1_AutoML_1_20220504_131316_model_2,0.800945,1.73707,0.805058,0.648118
XRT_1_AutoML_1_20220504_131316,0.801619,1.6918,0.80276,0.644423
DeepLearning_1_AutoML_1_20220504_131316,0.802688,1.63204,0.800945,0.641513